/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.outer_circle {
  width: 15rem;
  height: 15rem;
  left: 315px;
  position: relative;
  top: 143px;
  border: 1px solid black;
  border-radius: 50%;
  /* transform: translateX(150px); */
}

.meta {
  left: 315px;
  position: absolute;
  top: 143px;
  animation: meta 5s infinite linear;
  transform: rotate(60deg) translateX(150px) rotate(-60deg);
}
@keyframes meta {
  0% {
    transform: rotate(0deg) translateY(150px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(150px) rotate(-360deg);
  }
  /* 100% {
    transform: rotate(-360deg) translateX(150px) rotate(360deg);
  } */
}

.amazon {
  left: 315px;
  position: absolute;
  top: 143px;
  animation: amazon 6s infinite linear;
  transform: rotate(120deg) translateX(150px) rotate(-120deg);
}
/* @keyframes amazon {
  0% {
    transform: rotate(0deg) translateY(150px) rotate(0deg);
  }

  50% {
    transform: rotate(360deg) translateY(150px) rotate(-360deg);
  }

  100% {
    transform: rotate(720deg) translateY(150px) rotate(-720deg);
  }
} */

.apple {
  left: 315px;
  position: absolute;
  top: 143px;
  animation: apple 5s infinite linear;
  transform: translateX(-150px);
}
/* @keyframes apple {
  0% {
    transform: rotate(0deg) translateY(150px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(150px) rotate(-360deg);
  }
} */

.google {
  left: 315px;
  position: absolute;
  top: 143px;
  animation: google 5s infinite linear;
  transform: rotate(240deg) translateX(150px) rotate(-240deg);
}
/* @keyframes google {
  0% {
    transform: rotate(0deg) translateY(100px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(100px) rotate(-360deg);
  }
} */

.netflix {
  left: 315px;
  position: absolute;
  top: 143px;
  animation: netflix 5s infinite linear;
  transform: rotate(300deg) translateX(150px) rotate(-300deg);
}
/* @keyframes netflix {
    0% {
      transform: rotate(0deg) translateY(100px) rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg) translateY(100px) rotate(-360deg);
    }
  } */

.microsoft {
  left: 315px;
  position: absolute;
  top: 143px;
  animation: microsoft 5s infinite linear;
  transform: translateX(150px);
}
/* @keyframes microsoft {
  0% {
    transform: rotate(0deg) translateY(150px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(150px) rotate(-360deg);
  }
} */
